<template>
  <div class="timeline">
    <div
      v-for="(item, i) in items"
      :key="item.title"
      class="timeline__item"
    >
      <div class="timeline__item-body">
        <div
          :class="[
            'timeline__item-body__container',
            { clickable: isClickable(item) },
          ]"
          @click="toggleDetails(i)"
        >
          <div class="timeline__item-body__container-date">
            {{ item.date }}
          </div>
          <div class="timeline__item-body__container-title">
            {{ item.title }}
          </div>
          <div class="timeline__item-body__container-content">
            {{ item.content }}
          </div>
          <div
            v-if="isClickable(item)"
            :class="[
              'timeline__item-body__container-details__wrapper',
              { toggled: isItemToggled(i) },
            ]"
          >
            <div
              class="timeline__item-body__container-details__wrapper-expandable"
            >
              <div
                v-for="(detail, iDetail) in item.options?.details"
                :key="`detail-${iDetail}`"
                class="details__item"
              >
                <div class="details__item-date">
                  {{ detail.date }}
                </div>
                <div class="details__item-title">
                  {{ detail.title }}
                </div>
                <div class="details__item-content">
                  {{ detail.content }}
                </div>
                <div class="details__item-skills">
                  <nc-tag
                    v-for="(skill, iSkill) in detail.skills"
                    :key="`skill-${skill.class}-${skill.label}-${iSkill}`"
                    :tag="skill"
                    @click="($event) => clickTag($event)"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        :class="['timeline__item-divider', { clickable: isClickable(item) }]"
      >
        <div class="timeline__item-divider__dot-before" />
        <div
          :class="[
            'timeline__item-divider__dot',
            item.options?.dot?.color,
            { toggled: isItemToggled(i) },
          ]"
          @click="toggleDetails(i)"
        >
          <div
            :class="[
              'timeline__item-divider__dot-inner',
              item.options?.dot?.color,
            ]"
          />
        </div>
        <div class="timeline__item-divider__dot-after" />
      </div>
      <div class="timeline__item-opposite">
        {{ item.opposite }}
      </div>
    </div>
  </div>
</template>

<script setup>
import { defineProps, onMounted, ref } from "vue";
import NcTag from "@/components/NcTag.vue";

const props = defineProps({ items: Array });
const toggleArray = ref([]);

onMounted(() => {
  toggleArray.value = props.items.map((i) => ({
    toggled: false,
  }));
});

function toggleDetails(i) {
  if (isClickable(props.items[i]) && toggleArray.value[i]) {
    toggleArray.value[i].toggled = !toggleArray.value[i].toggled;
  }
}

function isClickable(item) {
  return item.options?.details?.length;
}

function isItemToggled(i) {
  return toggleArray.value ? toggleArray.value[i]?.toggled : false;
}

function clickTag(e) {
  console.log(e);
}
</script>

<style lang="scss" scoped>
.timeline {
  &__item {
    display: grid;
    grid-auto-flow: dense;
    position: relative;
    grid-template-columns: auto min-content auto;
    // background-color: red;

    justify-content: flex-start;

    // width: 5rem;

    &-divider {
      // padding-block-start: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;

      justify-content: flex-start;
      grid-column: 2;

      &.clickable &__dot {
        cursor: pointer;

        &:not(.toggled) + .timeline__item-divider__dot-after {
          position: relative;
          margin-bottom: 10px;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            height: 10px;
            width: 2px;

            border: 5px solid var(--surface-light);
            border-left: none;
            border-right: none;

            background-color: var(--background);
          }
        }
      }

      &__dot {
        z-index: 1;
        flex-shrink: 0;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        background-color: var(--surface-light);
        border-radius: 50%;

        &,
        &-inner {
          transition: background-color 0.2s ease-out;
        }

        &-inner {
          position: relative;
          width: calc(100% - 6px);
          height: calc(100% - 6px);

          border-radius: 50%;
          background-color: var(--surface);
        }

        &-before {
          height: calc(24px + 2rem / 2 - 2px);
          width: 2px;
          background-color: var(--surface-light);
        }
        &-after {
          height: calc(100% - 2rem / 2 + 24px - 2px);
          width: 2px;
          background-color: var(--surface-light);
        }
      }
    }

    &-opposite,
    &-body {
      width: 30vw;

      padding: 1rem 0 5rem 0;
      margin: 0 5rem;
    }

    &-body {
      display: flex;
      flex-direction: row;
      // background-color: blue;

      &__container {
        &.clickable {
          cursor: pointer;
        }

        &-date {
          font-size: 1.5rem;
        }

        &-title,
        &-content {
          font-size: 1.2rem;
        }

        &-title {
          color: var(--surface-light);
        }

        &-content {
          text-align: justify;
        }
      }
    }

    .timeline__item-divider__dot:hover,
    .timeline__item-body:hover
      + .timeline__item-divider
      .timeline__item-divider__dot,
    .timeline__item-divider__dot.toggled {
      &.green {
        background-color: darken($green, 15%);
      }
      &.polytech_blue {
        background-color: darken($polytech_blue, 15%);
      }
      &.acii_blue {
        background-color: darken($acii_blue, 15%);
      }
      &.red {
        background-color: darken($iut_red, 15%);
      }

      & .timeline__item-divider__dot-inner {
        &.green {
          background-color: $green;
        }
        &.polytech_blue {
          background-color: $polytech_blue;
        }
        &.acii_blue {
          background-color: $acii_blue;
        }
        &.red {
          background-color: $iut_red;
        }
      }
    }

    @media #{$not_phone_screen} {
      &:nth-of-type(2n) {
        & .timeline__item-body {
          grid-column: 1;
          justify-content: end;
          // margin-right: 1rem;
        }
        & .timeline__item-opposite {
          grid-column: 3;
        }
      }
      &:nth-of-type(2n + 1) {
        & .timeline__item-body {
          grid-column: 3;
          justify-content: start;
          // margin-left: 1rem;
        }
        & .timeline__item-opposite {
          grid-column: 1;
        }
      }
    }

    @media #{$phone_screen} {
      &-opposite,
      &-body {
        padding-bottom: 2.5rem;
      }

      &-opposite {
        width: 10vw;
        margin: 0 0 0 1rem;
        grid-column: 1;
      }

      &-body {
        grid-column: 3;
        width: 50vw;

        &__container {
          &-date {
            font-size: 1.1rem;
          }

          &-title,
          &-content {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

.timeline__item-body__container-details__wrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  padding-top: 0;
  opacity: 0;

  transition: grid-template-rows 0.75s ease-out, opacity 0.25s ease-in 0.25s,
    padding-top 0.5s ease-in;

  &-expandable {
    min-height: 0;
  }

  &.toggled {
    grid-template-rows: 1fr;
    padding-top: 1rem;
    opacity: 1;
  }
}

.details__item {
  padding-top: 1.5rem;

  &-date {
    font-size: 1.1rem;
  }

  &-title {
    color: var(--surface-light);
  }
  &-title,
  &-content,
  &-skills {
    font-size: 0.8rem;

    display: flex;
    flex-wrap: wrap;
  }
}
</style>
