<template>
  <div class="input__container">
    <input
      v-if="type === 'input'"
      v-model="value"
      type="text"
      :name="name"
      :data-value="value"
    >
    <textarea
      v-if="type === 'textarea'"
      v-model="value"
      :name="name"
      :data-value="value"
    />
    <span :class="['floating-label', type]">{{ label }}</span>
  </div>
</template>

<script setup>
import { computed } from "vue";

const props = defineProps({
  modelValue: String,
  label: String,
  name: String,
  type: String,
});
const emit = defineEmits(["update:modelValue"]);

const value = computed({
  get() {
    return props.modelValue;
  },
  set(v) {
    emit("update:modelValue", v);
  },
});
</script>

<style lang="scss">
.input__container {
  position: relative;

  & .floating-label.input {
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 12px;
    transition: 0.2s ease all;
  }

  & input {
    width: 12rem;

    box-sizing: border-box;
    font-family: inherit;
    font-size: 1rem;
    vertical-align: baseline;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: 0.16px;
    outline: 2px solid transparent;
    outline-offset: -2px;

    height: 40px;
    border: none;
    border-bottom: 1px solid var(--surface);
    background-color: transparent;
    padding: 0 16px;
    color: var(--surface);
    transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),
      outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
    &:focus {
      border-bottom: 1px solid var(--primary);
    }
  }

  & input:focus ~ .floating-label,
  & input:not([data-value=""]) ~ .floating-label {
    top: -5px;
    bottom: 10px;
    left: 20px;
    font-size: 11px;
    opacity: 1;
  }

  & .floating-label.textarea {
    position: absolute;
    pointer-events: none;
    left: 16px;
    top: 0;
    transition: 0.2s ease all;
  }

  & textarea {
    resize: none;

    width: 30rem;

    box-sizing: border-box;
    font-family: inherit;
    font-size: 1rem;
    vertical-align: baseline;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: 0.16px;
    outline: 2px solid transparent;
    outline-offset: -2px;

    height: 6rem;
    border: none;
    border-bottom: 1px solid var(--surface);
    background-color: transparent;
    padding: 0 16px;
    color: var(--surface);
    transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),
      outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
    &:focus {
      border-bottom: 1px solid var(--primary);
    }
  }

  & textarea:focus ~ .floating-label.textarea,
  & textarea:not([data-value=""]) ~ .floating-label.textarea {
    top: -20px;
    bottom: 10px;
    left: 20px;
    font-size: 11px;
    opacity: 1;
  }
}

@media #{$phone_screen} {
  .input__container textarea {
    width: 20rem;
  }
  .input__container input {
    width: 20rem;
  }
}
</style>
