<template>
  <div class="container__row">
    <div class="container__row--content">
      <slot name="content" />
    </div>
  </div>
</template>

<script setup></script>

<style lang="scss" scoped>
.container__row {
  display: flex;
  justify-content: center;

  &--content {
    display: flex;
    justify-content: start;
    gap: 6rem;

    width: 30rem;
  }
}

@media #{$phone_screen} {
  .container__row {
    justify-content: start;
    &--content {
      flex-direction: column;
      justify-content: start;
      gap: 1rem;
    }
  }
}
</style>
