<template>
  <div class="project">
    <img
      :src="project.image.src"
      :alt="project.image.alt"
    >
    <div class="project__body">
      <h3 class="project__body-title">
        {{ project.title }}
      </h3>
      <p class="project__body-description">
        {{ project.description }}
      </p>
      <div class="project__body-tags">
        <nc-tag
          v-for="(tag, i) in project.tags"
          :key="`${tag.class}-${tag.label}-${i}`"
          :tag="tag"
        />
      </div>
      <div class="project__body-footer">
        <a
          v-for="(link, i) in project.links"
          :key="`link-${i}`"
          :href="link.to"
          target="_blank"
        ><img
          :src="link.image.src"
          :alt="link.image.alt"
          :class="link.image.class"
        ></a>
      </div>
    </div>
  </div>
</template>

<script setup>
import NcTag from "@/components/NcTag.vue";
const props = defineProps({
  project: {
    image: Object,
    title: String,
    description: String,
    tags: Array,
    links: Array,
  },
});
</script>

<style lang="scss" scoped>
.project {
  display: flex;
  flex-direction: column;

  background-color: var(--editor);
  border-radius: 20px;
  box-shadow: 10px 8px 25px 0px rgba(0, 0, 0, 0);
  transition: box-shadow ease 0.35s;

  &:hover {
    box-shadow: 10px 8px 25px 0px rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }

  & img {
    border-radius: 20px;
  }

  &__body {
    padding: 1rem;

    &-title {
      font-size: 1.1rem;
      font-weight: 700;
    }

    &-description {
      font-size: 0.9rem;
      text-align: justify;
    }

    &-tags {
      display: flex;
      flex-wrap: wrap;
      margin: 0.5rem 0 1rem;
    }

    &-footer {
      display: flex;
      flex-direction: row;
      align-items: center;

      & a {
        text-decoration: none;
        padding-right: 15px;

        &:hover img {
          transform: scale(1.08);
        }

        & img {
          width: 40px;

          &.eye {
            width: 32px;
          }

          transition: transform ease-out 0.25s;
        }
      }
    }
  }
}
</style>
