@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import "mixins";
@import "themes";

:root.light {
  @include spread-map($theme-map-light);
}
:root.dark {
  @include spread-map($theme-map-dark);
}

body {
  font-family: "Roboto Mono", monospace;

  margin: 0;
  background-color: var(--background);
}

h1 {
  color: var(--primary);
  font-weight: bold;

  font-size: 5rem;

  &::before {
    content: "{{";
    margin-right: 15px;
    color: var(--secondary);
    font-size: 5.75rem;
  }

  &::after {
    content: "}}";
    margin-left: 15px;
    color: var(--secondary);
    font-size: 5.75rem;
  }
}

h2 {
  font-weight: 500;
  font-size: 2rem;
}

.main__container {
  display: flex;
  justify-content: center;
  background: var(--background);
  min-height: 100vh;
  height: 100%;
  padding: 0 4.7rem;
}

.container {
  color: var(--surface);
  margin-top: 4rem;
  padding: 5rem 0;
}

.container__center {
  color: var(--surface);
  margin: auto;
  padding: 5rem 0;
}

.nc__infos {
  padding: 0 5rem;
  text-align: justify;
  line-height: 2rem;
  color: var(--surface);

  & span {
    color: var(--secondary);
  }
}

@media screen and #{$medium_screen} {
  h1 {
    font-size: 3.15rem;

    &::before {
      font-size: 3.75rem;
    }

    &::after {
      font-size: 3.75rem;
    }
  }

  h2 {
    font-size: 1.85rem;
  }

  .logo {
    font-size: 3.15rem;
  }
}

@media screen and #{$phone_screen} {
  h1 {
    font-size: 2.5rem;

    &::before {
      font-size: 3rem;
    }

    &::after {
      font-size: 3rem;
    }
  }

  h2 {
    font-size: 1.5rem;
  }

  .logo {
    font-size: 2.5rem;
  }
}
