<template>
  <div class="nc__infos">
    I obtained my <span>{{ data.degree }}</span> in
    <span>{{ data.year }}</span> at <span>{{ data.location }}</span>.
  </div>
</template>

<script setup>
const props = defineProps(["data"]);
</script>
