<template>
  <div class="nc__infos">
    Hi, I'm <span>{{ data.name }}</span>! I am <span>{{ data.age }}</span> years old and live near
    <span>{{ data.location }}</span>.
  </div>
</template>

<script setup>
const props = defineProps(["data"]);
</script>
