<template>
  <nc-container>
    <template #content>
      <div class="about__container">
        <div class="about__item about__item--1" />
        <div class="about__item about__item--2">
          <div class="forecast__top">
            <div class="forecast__top--left">
              <div class="forecast__location">
                Tours
              </div>
              <div class="forecast__dept">
                37
              </div>
            </div>
            <div class="forecast__top--right">
              <font-awesome-icon
                class="forecast__sun"
                :icon="['far', 'sun']"
              />
              <div class="forecast__desc">
                {{ $t("about.description") }}
              </div>
            </div>
          </div>
          <div class="forecast__bottom">
            {{ $t("about.pickupline") }}
          </div>
        </div>
        <div class="about__item about__item--3">
          <img
            :src="job"
            alt="Current job"
          >
        </div>
        <div class="about__item about__item--4">
          <div class="about__item--title">
            {{ $t("about.musics") }}
          </div>
          <FadeLoader
            key="gameLoading"
            class="loader"
            :loading="loading"
            color="#42b883"
            size="16px"
          />
          <div class="spotify__top">
            <div
              v-for="(artist, i) in topArtists"
              :key="`artist-${i}`"
              class="spotify__top--artist"
              @click="goToSpotify(artist.uri)"
            >
              <img
                :src="artist.image"
                :alt="`${artist.name}'s picture'`"
              >
              <div class="artist__name">
                {{ artist.name }}
              </div>
            </div>
          </div>
          <div class="spotify__bottom">
            <div
              v-for="(track, i) in topTracks"
              :key="`track-${i}`"
              class="spotify__bottom--track"
              @click="goToSpotify(track.uri)"
            >
              <img
                :src="track.image"
                :alt="`${track.name}'s picture'`"
              >
              <div class="track__name">
                {{ track.name }}
              </div>
            </div>
          </div>
        </div>
        <div class="about__item about__item--5">
          <div class="about__item--title">
            {{ $t("about.games") }}
          </div>
          <FadeLoader
            key="gameLoading"
            class="loader"
            :loading="loading"
            color="#42b883"
            size="16px"
          />
          <div class="games">
            <div
              v-for="(game, i) in games"
              :key="`game-${i}`"
              class="games--game"
            >
              <img
                :src="game.uri"
                :alt="game.name"
              >
              <div class="game__name">
                {{ game.name }}
              </div>
            </div>
          </div>
        </div>
        <div class="about__item about__item--6">
          <div class="about__item--title">
            {{ $t("about.hobbies.title") }}
          </div>
          <FadeLoader
            key="gameLoading"
            class="loader"
            :loading="loading"
            color="#42b883"
            size="16px"
          />
          <div class="hobbies">
            <div
              v-for="(hobby, i) in hobbies"
              :key="`hobby-${i}`"
              class="hobbies--hobby"
            >
              <img
                :src="hobby.uri"
                :alt="hobby.name"
              >
              <div class="hobby__name">
                {{ $t(`about.hobbies.${hobby.name.toLowerCase()}`) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </nc-container>
</template>

<script setup>
import axios from "axios";

import { ref, onMounted } from "vue";
import { useAppStore } from "@/stores/app.js";

import { FadeLoader } from "vue3-spinner";

import job from "@/assets/img/job.png";

const appStore = useAppStore();
const games = ref(undefined);
const hobbies = ref(undefined);
const topArtists = ref(undefined);
const topTracks = ref(undefined);

const loading = ref(false);

onMounted(async () => {
  loading.value = true;
  await getSpotifyProfile();
  await getGames();
  await getHobbies();
  loading.value = false;

  games.value = appStore.gamesData;
  hobbies.value = appStore.hobbiesData;

  const blacklistTracks = ["Zorro est arrivé"];
  const soloAlbum = ["Aqua Regia"];
  const itemsTracks = appStore.spotifyData.tracks.items
    .filter(
      (item) =>
        !blacklistTracks.includes(item.name) &&
        !soloAlbum.includes(item.album.name)
    )
    .slice(0, 4);
  topTracks.value = itemsTracks.map((item) => ({
    name: item.name,
    uri: item.uri,
    image: item.album.images[0].url,
  }));

  const blacklistArtists = ["Lorenzo"];
  const itemsArtists = appStore.spotifyData.artists.items
    .filter((item) => !blacklistArtists.includes(item.name))
    .slice(0, 4);
  topArtists.value = itemsArtists.map((item) => ({
    name: item.name,
    uri: item.uri,
    image: item.images[2].url,
  }));
});

async function getSpotifyProfile() {
  if (!appStore.spotifyData?.artist) {
    try {
      const responseProfile = await axios.get(
        `${import.meta.env.VITE_API_URI}/spotify`,
        {
          headers: {
            "Access-Control-Allow-Origin": "*",
          },
        }
      );

      appStore.spotifyData = responseProfile.data;
    } catch (err) {
      appStore.spotifyData = await import(
        "@/assets/helper/spotify.backup.json"
      );
    }
  }
}

async function getGames() {
  if (!appStore.gamesData?.length) {
    try {
      const responseGames = await axios.get(
        `${import.meta.env.VITE_API_URI}/games`,
        {
          headers: {
            "Access-Control-Allow-Origin": "*",
          },
        }
      );

      appStore.gamesData = responseGames.data;
    } catch (err) {
      const json = await import("@/assets/helper/games.backup.json");
      appStore.gamesData = json.games;
    }
  }
}

async function getHobbies() {
  if (!appStore.hobbiesData?.length) {
    try {
      const hobbiesResponse = await axios.get(
        `${import.meta.env.VITE_API_URI}/hobbies`,
        {
          headers: {
            "Access-Control-Allow-Origin": "*",
          },
        }
      );

      appStore.hobbiesData = hobbiesResponse.data;
    } catch (err) {
      const json = await import("@/assets/helper/hobbies.backup.json");
      appStore.hobbiesData = json.hobbies;
    }
  }
}

function goToSpotify(uri) {
  window.open(uri);
}
</script>

<style lang="scss" scoped>
.about__container {
  display: grid;
  grid-template-rows: repeat(4, 8rem);
  grid-template-columns: repeat(4, 8rem);
  gap: 4rem 5rem;

  @media #{$phone_screen} {
    grid-template-rows: repeat(8, 8rem);
    grid-template-columns: repeat(2, 8rem);
  }
}

.about__item {
  --timing: 0.3s;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(#000, 0.5);

  // background: rgba(var(--background), 0.8) !important;

  isolation: isolate;

  & .loader {
    position: absolute !important;
    inset: 0;
    transform-origin: center;
    transform: translate(50%, 50%);
  }

  &--title {
    position: absolute;
    bottom: -1.75rem;
    left: 0;
    width: 100%;
    z-index: -1;

    text-align: center;

    font-size: rem;
    text-transform: uppercase;
    // font-weight: bold;

    overflow: hidden;
  }

  &--1 {
    grid-area: 1 / 1 / 2 / 2;

    border-radius: 50%;
    background-image: url("../assets/profile-pic.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  &--2 {
    grid-area: 1 / 2 / 2 / 4;

    position: relative;

    background-image: linear-gradient(rgb(0, 119, 255), rgb(92, 187, 255));

    flex-direction: column;
    justify-content: space-around;

    // overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: transparent url("../assets/img/cloud.png") center / 60%
        no-repeat;
      opacity: 0.65;
    }

    & .clouds {
      position: absolute;
      inset: 0;
      background: transparent;
    }

    & .forecast__top {
      position: relative;
      top: 0;
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &--left {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        line-height: 1.4rem;
        & .forecast__location {
          font-size: 0.8rem;
        }
        & .forecast__dept {
          font-size: 2rem;
        }
      }

      &--right {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        & .forecast__sun {
          font-size: 1.5rem;
          color: var(--firebase-border);
        }
        & .forecast__desc {
          font-size: 0.8rem;
        }
      }
    }
  }
  &--3 {
    position: relative;
    grid-area: 1 / 4 / 2 / 5;

    overflow: hidden;
    // font-size: 3rem;
    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &--4 {
    grid-area: 2 / 1 / 4 / 5;

    position: relative;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;

    & .spotify__top {
      grid-area: 1 / 1 / 1 / 4;

      position: relative;
      width: 90%;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4, 7rem);
      gap: 5rem;
      justify-items: center;

      &--artist {
        position: relative;
        cursor: pointer;
        text-align: center;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 2px 2px 5px black;

        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 100%;
          right: 0;
          background-color: rgba(#000000, 0.9);

          transition: bottom var(--timing) ease-in 0.2s;
        }

        &:hover::before {
          bottom: 0;
          transition: bottom var(--timing) ease-in;
        }

        & img {
          // border-radius: 50%;
          height: 7rem;
          width: 7rem;
          object-fit: cover;
        }

        &:hover .artist__name {
          opacity: 0.9;

          transition: opacity var(--timing) ease-in var(--timing);
        }

        & .artist__name {
          position: absolute;
          opacity: 0;
          color: $white;
          transition: opacity var(--timing) ease-in;
        }
      }
    }

    & .spotify__bottom {
      grid-area: 2 / 1 / 2 / 4;

      position: relative;
      width: 90%;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4, 7rem);
      gap: 5rem;
      justify-items: center;

      &--track {
        position: relative;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 100%;
          right: 0;
          background-color: rgba(#000000, 0.9);
          transition: bottom var(--timing) ease-in var(--timing);
        }

        &:hover::before {
          bottom: 0;
          transition: bottom var(--timing) ease-in;
        }

        & .track__name {
          position: absolute;
          text-align: center;
          opacity: 0;
          color: $white;

          transition: opacity var(--timing) ease-in;
        }

        &:hover .track__name {
          opacity: 7;
          transition: opacity var(--timing) ease-in var(--timing);
        }
        & img {
          // border-radius: 50%;
          height: 7rem;
          width: 7rem;
          object-fit: cover;
          box-shadow: 2px 2px 5px black;

          transition: transform var(--timing) ease;
        }
      }
    }
  }
  &--5 {
    grid-area: 4 / 1 / 4 / 3;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    & .games {
      position: relative;
      // top: 1.3rem;
      left: 1rem;
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5rem;

      &--game {
        position: relative;
        cursor: pointer;
        text-align: center;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 2px 2px 5px black;

        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 100%;
          right: 0;
          background-color: rgba(#000000, 0.9);

          transition: bottom var(--timing) ease-in 0.2s;
        }

        &:hover::before {
          bottom: 0;
          transition: bottom var(--timing) ease-in;
        }

        & img {
          // border-radius: 50%;
          height: 7rem;
          width: 7rem;
          object-fit: cover;
        }

        &:hover .game__name {
          opacity: 0.9;

          transition: opacity var(--timing) ease-in var(--timing);
        }

        & .game__name {
          position: absolute;
          opacity: 0;
          color: $white;
          transition: opacity var(--timing) ease-in;
        }
      }
    }
  }
  &--6 {
    grid-area: 4 / 3 / 4 / 5;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    & .hobbies {
      position: relative;
      // top: 1.3rem;
      left: 1rem;
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5rem;

      &--hobby {
        position: relative;
        cursor: pointer;
        text-align: center;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 2px 2px 5px black;

        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 100%;
          right: 0;
          background-color: rgba(#000000, 0.9);

          transition: bottom var(--timing) ease-in 0.2s;
        }

        &:hover::before {
          bottom: 0;
          transition: bottom var(--timing) ease-in;
        }

        & img {
          // border-radius: 50%;
          height: 7rem;
          width: 7rem;
          object-fit: cover;
        }

        &:hover .hobby__name {
          opacity: 0.9;

          transition: opacity var(--timing) ease-in var(--timing);
        }

        & .hobby__name {
          position: absolute;
          opacity: 0;
          color: $white;
          transition: opacity var(--timing) ease-in;
        }
      }
    }
  }
}

@media #{$phone_screen} {
  .about__item {
    &--2 {
      grid-area: 2 / 1 / 3 / 3;
    }

    &--3 {
      grid-area: 1 / 2 / 2 / 3;
    }

    &--4 {
      grid-area: 3 / 1 / 7 / 3;

      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: 1fr;

      align-items: center;

      & .spotify__top,
      & .spotify__bottom {
        grid-template-columns: repeat(2, 7rem);
        grid-template-rows: repeat(2, 1fr);
        gap: 4rem 5rem;
        justify-items: center;
      }

      & .spotify__top {
        grid-area: 1 / 1 / 2 / 2;
      }

      & .spotify__bottom {
        grid-area: 2 / 1 / 2 / 2;
      }
    }

    &--5 {
      grid-area: 7 / 1 / 8 / 3;
    }

    &--6 {
      grid-area: 8 / 1 / 9 / 3;
    }
  }
}
</style>
