<template>
  <div class="parallax__container">
    <div
      v-if="vinesFar && background2"
      class="parallax"
    >
      <img 
        ref="vinesFarRef"
        class="parallax__item vines__far"
        :src="vinesFar"
        alt="some vines far"
      >
      <img
        ref="background2Ref"
        class="parallax__item background2"
        :src="background2"
        alt="some landscapes 2 "
      >

      <div
        ref="title"
        class="title"
      >
        {{ $t("contact.title") }}
      </div>

      <div
        v-if="!isSmallDevice()"
        ref="linkedinRef"
        class="parallax__item linkedin icon"
      >
        <font-awesome-icon
          icon="fa-brands fa-linkedin"
          size="4x"
          @click="openLinkedIn()"
        />
      </div>
      <div
        v-if="!isSmallDevice()"
        ref="githubRef"
        class="parallax__item github icon"
      >
        <font-awesome-icon
          icon="fa-brands fa-github"
          size="4x"
          @click="openGithub()"
        />
      </div>
      <div
        v-if="!isSmallDevice()"
        ref="gitlabRef"
        class="parallax__item gitlab icon"
      >
        <font-awesome-icon
          icon="fa-brands fa-gitlab"
          size="4x"
          @click="openGitlab()"
        />
      </div>

      <img
        v-if="background1"
        ref="background1Ref"
        class="parallax__item background1"
        :src="background1"
        alt="some landscapes 1"
      >

      <img
        v-if="sides"
        ref="sidesRef"
        class="parallax__item sides"
        :src="sides"
        alt="sides"
      >

      <img
        v-if="vinesMid"
        ref="vinesMidRef"
        class="parallax__item vines__mid"
        :src="vinesMid"
        alt="some vines mid"
      >
      <img
        v-if="vinesFront"
        ref="vinesFrontRef"
        class="parallax__item vines__front"
        :src="vinesFront"
        alt="some vines front"
      >

      <div
        v-if="isSmallDevice()"
        ref="linkedinRef"
        class="parallax__item linkedin icon"
      >
        <font-awesome-icon
          icon="fa-brands fa-linkedin"
          size="4x"
          @click="openLinkedIn()"
        />
      </div>
      <div
        v-if="isSmallDevice()"
        ref="githubRef"
        class="parallax__item github icon"
      >
        <font-awesome-icon
          icon="fa-brands fa-github"
          size="4x"
          @click="openGithub()"
        />
      </div>
      <div
        v-if="isSmallDevice()"
        ref="gitlabRef"
        class="parallax__item gitlab icon"
      >
        <font-awesome-icon
          icon="fa-brands fa-gitlab"
          size="4x"
          @click="openGitlab()"
        />
      </div>

      <div
        ref="phoneRef"
        class="parallax__item phone icon"
      >
        <a
          v-if="isSmallDevice()"
          href="tel:0646898223"
        >
          <font-awesome-icon
            icon="fa-solid fa-mobile-screen"
            size="4x"
          />
        </a>
        <font-awesome-icon
          v-else
          icon="fa-solid fa-mobile-screen"
          size="4x"
          @click="copyOrCallPhone()"
        />
      </div>

      <div
        ref="mailRef"
        class="parallax__item mail icon"
      >
        <a
          href="mailto:contact@nathancouton.fr"
          target="_blank"
        >
          <font-awesome-icon
            icon="fa-solid fa-envelope"
            size="4x"
          />
        </a>
      </div>

      <img
        v-if="light"
        ref="lightRef"
        class="parallax__item light"
        :src="light"
        alt="some light"
      >

      <img
        v-if="tallGrass"
        ref="grassRef"
        class="parallax__item tall__grass"
        :src="tallGrass"
        alt="some grass"
      >

      <img
        v-if="platform"
        ref="platformRef"
        class="parallax__item platform"
        :src="platform"
        alt="some platform"
      >

      <img
        v-if="frontShades"
        ref="shadesRef"
        class="parallax__item front__shades"
        :src="frontShades"
        alt="front shades"
      >
      <img
        v-if="sit"
        ref="sitRef"
        class="parallax__item sit"
        :src="sit"
        alt="Take a sit"
      >
      <img
        v-if="bench"
        ref="benchRef"
        class="parallax__item bench"
        :src="bench"
        alt="bench"
      >
      <img
        v-if="knight"
        ref="knightRef"
        class="parallax__item knight"
        :src="knight"
        alt="knight"
        @click="toggleKnightAndMusic()"
      >
      <div class="glow" />
      <img
        v-if="lumafly"
        ref="lumaflyRef"
        class="parallax__item lumafly"
        :src="lumafly"
        alt="some lumafly"
      >

      <div class="parallax__item mask" />
    </div>
    <div class="contact__container">
      <nc-row>
        <template #content>
          <div class="contact__container__title">
            {{ $t("contact.mail_title") }}
          </div>
        </template>
      </nc-row>

      <nc-row>
        <template #content>
          <nc-input
            v-model="name"
            type="input"
            name="name"
            :label="$t('contact.name')"
          />
          <nc-input
            v-model="email"
            type="input"
            name="email"
            :label="$t('contact.email')"
          />
        </template>
      </nc-row>
      <nc-row>
        <template #content>
          <nc-input
            v-model="content"
            type="textarea"
            name="content"
            :label="$t('contact.message')"
          />
        </template>
      </nc-row>
      <nc-row>
        <template #content>
          <button
            class="contact__form__submit"
            @click.prevent="sendEmail"
          >
            {{ $t("contact.send") }}
          </button>
        </template>
      </nc-row>
    </div>
  </div>
</template>

<script setup>
import { onMounted, ref, watch } from "vue";

import NcInput from "@/components/input/NcInput.vue";
import NcRow from "@/components/row/NcRow.vue";

import lumafly from "@/assets/parallax/lumafly_2.png";
import bench from "@/assets/parallax/Town_bench_1.png";
import sit_en from "@/assets/parallax/sit_en.png";
import sit_fr from "@/assets/parallax/sit_fr.png";
import knight from "@/assets/parallax/Knight_sit.png";
import frontShades from "@/assets/parallax/front_shadows.png";
import platform from "@/assets/parallax/platform_1.png";
import tallGrass from "@/assets/parallax/tall grass.png";
import light from "@/assets/parallax/light_1.png";
import vinesFront from "@/assets/parallax/vines front.png";
import vinesMid from "@/assets/parallax/vines mid.png";
import sides from "@/assets/parallax/sides front.png";
import background1 from "@/assets/parallax/background 1.png";
import background2 from "@/assets/parallax/background 2.png";
import vinesFar from "@/assets/parallax/vines far.png";

import knightThemeSong from "@/assets/music/Hollow_Knight_Theme.mp3";

import { useI18n } from "vue-i18n";
import { copyText } from "vue3-clipboard";
import { toast } from "vue3-toastify";
import { useAppStore } from "@/stores/app.js";

import emailjs from "@emailjs/browser";

const name = ref("");
const email = ref("");
const content = ref("");

const parallaxHeight = ref(1);

const showKnight = ref(false);

const title = ref(null);
const platformRef = ref(null);
const shadesRef = ref(null);
const benchRef = ref(null);
const sitRef = ref(null);
const knightRef = ref(null);
const grassRef = ref(null);
const lightRef = ref(null);
const lumaflyRef = ref(null);
const sidesRef = ref(null);
const vinesFrontRef = ref(null);
const vinesMidRef = ref(null);
const vinesFarRef = ref(null);
const background1Ref = ref(null);
const background2Ref = ref(null);
const linkedinRef = ref(null);
const githubRef = ref(null);
const gitlabRef = ref(null);
const phoneRef = ref(null);
const mailRef = ref(null);

const sit = ref(undefined);

const audio = new Audio(knightThemeSong);

const { locale, t } = useI18n();
const appStore = useAppStore();

function isSmallDevice() {
  return window.innerWidth < 800;
}

const onLocaleChange = watch(locale, () => {
  if (locale.value === "fr") {
    sit.value = sit_fr;
  } else {
    sit.value = sit_en;
  }
});

onMounted(() => {
  window.addEventListener("scroll", () => {
    scrollParallax();
  });

  if (locale.value === "fr") {
    sit.value = sit_fr;
  } else {
    sit.value = sit_en;
  }

  window.addEventListener("resize", () => {
    let deviceWidth = window.innerWidth;
    parallaxHeight.value =
      ((1.775 - 1) / (1096 - 1865)) * deviceWidth -
      1865 * ((1.775 - 1) / (1096 - 1865)) +
      1;
    console.log(parallaxHeight.value);
    document.documentElement.style.setProperty(
      "--parallax-height",
      parallaxHeight.value
    );

    sidesRef.value.style.transform = `scale(${parallaxHeight.value})`;
  });

  scrollParallax();
});

function toggleKnightAndMusic() {
  showKnight.value = !showKnight.value;
  knightRef.value.style.opacity = showKnight.value * 1;
  sitRef.value.style.opacity = 0;

  if (showKnight.value) {
    audio.play();
  } else {
    audio.pause();
  }
}

function scrollParallax() {
  let deviceWidth = window.innerWidth;
  let scrollY = window.scrollY;

  if (deviceWidth > 800) {
    title.value.style.marginTop = scrollY * -0.9 + "px";

    lumaflyRef.value.style.marginTop = scrollY * 0.5 + "px";

    lightRef.value.style.marginTop = scrollY * -0.3 + "px";
    grassRef.value.style.marginTop = scrollY * -0.15 + "px";
    platformRef.value.style.marginTop = scrollY * -0.3 + "px";
    benchRef.value.style.marginTop = scrollY * -0.3 + "px";
    if (sitRef.value) {
      sitRef.value.style.marginBottom = scrollY * 0.3 + "px";
    }
    knightRef.value.style.marginBottom = scrollY * 0.3 + "px";
    shadesRef.value.style.marginTop = scrollY * -0.3 + "px";

    sidesRef.value.style.transform = `scale(${
      parallaxHeight.value + scrollY / 8000
    })`;
    vinesFrontRef.value.style.transform = `scale(${
      parallaxHeight.value + scrollY / 500
    })`;
    vinesMidRef.value.style.transform = `scale(${
      parallaxHeight.value + scrollY / 2500
    })`;
    vinesFarRef.value.style.transform = `scale(${
      parallaxHeight.value - scrollY / 3000
    })`;

    background1Ref.value.style.marginBottom = scrollY * -0.1 + "px";
    background2Ref.value.style.marginTop = scrollY * 0.7 + "px";

    linkedinRef.value.style.marginBottom = scrollY * 0.7 + "px";
    githubRef.value.style.marginBottom = scrollY * 0.7 + "px";
    gitlabRef.value.style.marginBottom = scrollY * 0.7 + "px";

    phoneRef.value.style.marginBottom = scrollY * 0.8 + "px";
    mailRef.value.style.marginBottom = scrollY * 0.8 + "px";
  } else {
    lumaflyRef.value.style.marginBottom = scrollY * 0.5 + "px";

    lightRef.value.style.marginBottom = -150 + scrollY * 0.2 + "px";
    grassRef.value.style.marginBottom = -150 + scrollY * 0.15 + "px";
    platformRef.value.style.marginBottom = -150 + scrollY * 0.2 + "px";
    benchRef.value.style.marginBottom = -150 + scrollY * 0.2 + "px";
    if (sitRef.value) {
      sitRef.value.style.marginBottom = scrollY * 0.2 + "px";
    }
    knightRef.value.style.marginBottom = scrollY * 0.2 + "px";
    shadesRef.value.style.marginBottom = -150 + scrollY * 0.2 + "px";
    sidesRef.value.style.transform = `scale(${scrollY / 2000})`;
    vinesFrontRef.value.style.transform = `scale(${
      4 + scrollY / 100
    }) translate(-20%, -75%)`;
    vinesMidRef.value.style.transform = `scale(${
      4 + scrollY / 200
    }) translateY(-75%)`;
    vinesFarRef.value.style.transform = `scale(${
      4 + scrollY / 750
    }) translateY(-75%)`;
    background1Ref.value.style.marginBottom = scrollY * -0.2 + "px";
    background2Ref.value.style.marginBottom = scrollY * -1 + "px";

    linkedinRef.value.style.marginBottom = scrollY * 0.45 + "px";
    githubRef.value.style.marginBottom = scrollY * 0.45 + "px";
    gitlabRef.value.style.marginBottom = scrollY * 0.45 + "px";

    phoneRef.value.style.marginBottom = scrollY * 0.8 + "px";
    mailRef.value.style.marginBottom = scrollY * 0.8 + "px";
  }
}

function copyOrCallPhone() {
  copyText("0646898223", phoneRef.value, (error, event) => {
    if (error) {
      toast.error(t("contact.copy_phone.ko"), {
        autoClose: 6000,
        closeOnClick: false,
      });
      console.error(error);
    } else {
      toast.success(t("contact.copy_phone.ok"));
    }
  });
}

async function sendEmail() {
  appStore.hasProcessLoading = true;
  const response = await emailjs.send(
    "service_personal",
    "template_personal",
    {
      name: name.value,
      email: email.value,
      content: content.value,
    },
    "z4ONDSAdpiceLSY_Y"
  );
  appStore.hasProcessLoading = false;

  console.log(response);
  if (response?.status === 200) {
    toast.success(t("contact.mail_response.ok"));
    name.value = "";
    email.value = "";
    content.value = "";
  } else {
    toast.error(t("contact.mail_response.ko"), {
      autoClose: 6000,
      closeOnClick: false,
    });
  }
}

function openLinkedIn() {
  window.open("https://www.linkedin.com/in/nathan-couton/", "_blank");
}

function openGithub() {
  window.open("https://github.com/nath7098", "_blank");
}

function openGitlab() {
  window.open("https://gitlab.com/nath7098", "_blank");
}
</script>

<style lang="scss" scoped>
.parallax {
  &__container {
    min-height: 140vh;
    // overflow-y: hidden;
  }

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;

  background: url("../assets/parallax/background far.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  overflow-x: hidden;
  overflow-y: hidden;

  & .glow {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: calc(50% - 25px);
    width: 200px;
    height: 100px;
    background: rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0 0 0.75rem $white);
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    pointer-events: none;

    @media #{$not_phone_screen} {
      &:not(.icon):not(.mask):not(.sit) {
        transform: scale(var(--parallax-height));
      }
    }

    &.bench,
    &.platform,
    &.front__shades,
    &.tall__grass,
    &.light {
      padding-top: calc(150px + (var(--parallax-height) - 1) * 175px);
    }

    @media #{$not_phone_screen} {
      &.background1 {
        top: unset;
        bottom: 0;
        padding-bottom: calc((var(--parallax-height) - 1) * 150px);
      }
    }

    &.knight {
      pointer-events: all;
      cursor: pointer;

      top: unset;
      bottom: 7px;
      left: calc(50% - 0.5rem);
      width: 5%;

      padding: 0 2rem;

      opacity: 0;

      transition: opacity 0.1s ease;

      &:hover + .bench::before {
        content: "TEST";
        position: absolute;
        top: 100px;
        left: 100px;
        width: 200px;
        height: 200px;
        color: red;
        font-size: 3rem;
      }
    }

    &.sit {
      opacity: 1;
      top: unset;
      bottom: 100px;
      left: calc(50% - 7rem);

      width: 20rem;

      @media #{$phone_screen} {
        width: 15rem;
      }

      transition: opacity 0.5s ease;
      animation: bouncing 1s linear 0s infinite;
    }

    &.mask {
      width: 100%;
      height: 100vh;
      background: linear-gradient(
        0deg,
        var(--background) 0%,
        var(--background-transparent) 10%,
        var(--background-transparent) 100%
      );
    }

    &.linkedin {
      top: unset;
      bottom: 8rem;
      left: 30vw;
    }
    &.github {
      top: unset;
      bottom: 8rem;
      left: 50vw;
    }
    &.gitlab {
      top: unset;
      bottom: 8rem;
      left: 70vw;
    }
    &.phone {
      top: unset;
      bottom: -8rem;
      left: 40vw;
    }
    &.mail {
      top: unset;
      bottom: -8rem;
      left: 60vw;
    }

    &.linkedin,
    &.github,
    &.gitlab,
    &.phone,
    &.mail {
      pointer-events: all;
      & svg {
        color: var(--primary);
        transition: color 0.15s ease;
      }

      @media #{$not_phone_screen} {
        & svg:hover {
          cursor: pointer;
          color: var(--secondary);
        }
      }

      @media #{$phone_screen} {
        & svg:active {
          cursor: pointer;
          color: var(--secondary);
        }
      }
    }
  }
}

.title {
  position: absolute;
  top: 20rem;
  font-size: 5rem;
  font-weight: bold;
  color: var(--background);
  text-shadow: 2px 2px 3px var(--surface-half-opacity);

  @media #{$medium_screen} {
    font-size: 3rem;
  }
}

.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  gap: 2rem;

  padding-top: 2rem;

  color: var(--surface);

  &__title {
    font-size: 2rem;
  }
}

.contact__form__submit {
  position: relative;
  cursor: pointer;
  color: var(--primary);
  background: var(--background);
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--surface);
  font-size: 1.05rem;

  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--primary);
    color: var(--surface);
    border: 1px solid var(--primary);
  }
}

@media #{$phone_screen} {
  .parallax {
    &__container {
      min-height: 120vh;
      // overflow-y: hidden;
    }

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 150%;
    height: 100vh;
    // max-height: 100vh;

    background: url("../assets/parallax/background far.png") no-repeat;
    background-size: 400%;
    background-position: top;
    background-attachment: fixed;

    overflow-x: hidden;
    overflow-y: hidden;

    &__item {
      position: absolute;
      top: unset;
      bottom: 0;
      left: -3rem;
      width: 100%;
      max-height: 100vh;
      transform-origin: bottom;
      transform: scale(4);
      pointer-events: none;

      &.bench,
      &.platform,
      &.front__shades,
      &.tall__grass,
      &.light {
        margin-bottom: -150px;
      }

      &.vines__front {
        transform: scale(4) translate(-20%, -75%);
      }

      &.vines__mid,
      &.vines__far {
        transform: scale(4) translateY(-75%);
      }

      &.vines__front,
      &.vines__mid,
      &.vines__far {
        transform-origin: top;
      }

      &.mask {
        width: 100%;
        height: 100vh;
        background: linear-gradient(
          0deg,
          var(--background) 0%,
          var(--background-transparent) 10%,
          var(--background-transparent) 100%
        );
      }

      &.linkedin {
        transform: scale(1);
        bottom: 10rem;
        left: 5vw;
      }
      &.github {
        transform: scale(1);
        bottom: 10rem;
        left: calc(50vw - 2rem);
      }
      &.gitlab {
        transform: scale(1);
        bottom: 10rem;
        left: calc(95vw - 4rem);
      }
      &.phone {
        transform: scale(1);
        bottom: -6rem;
        left: 5vw;
      }
      &.mail {
        transform: scale(1);
        bottom: -6rem;
        left: calc(95vw - 4rem);
      }
    }
  }

  .title {
    position: absolute;
    top: 20rem;
    font-size: 1.75rem;
    font-weight: bold;
    text-shadow: 2px 2px 3px darken(#538e9a, 15%);
  }

  .contact__container {
    // display: flex;
    // flex-direction: column;
    // justify-content: start;
    align-content: start;
    gap: 2rem;

    padding: 2rem 0 1rem 2rem;

    color: var(--surface);

    &__title {
      font-size: 1.5rem;
    }
  }

  .contact__form__submit {
    width: fit-content;
  }
}

@keyframes bouncing {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
</style>
