<template>
  <nc-container>
    <template #content>
      <nc-timeline :items="items" />
    </template>
  </nc-container>
</template>

<script setup>
import { computed } from "vue";
import { useI18n } from "vue-i18n";

import NcTimeline from "@/components/education/NcTimeline.vue";

const { t } = useI18n();
const items = computed(() => [
  {
    date: t("education[0].date"),
    title: t("education[0].title"),
    content: t("education[0].content"),
    options: {
      dot: { color: "green" },
    },
  },
  {
    date: t("education[1].date"),
    title: t("education[1].title"),
    content: t("education[1].content"),
    options: {
      dot: { color: "polytech_blue" },
    },
  },
  {
    date: t("education[2].date"),
    title: t("education[2].title"),
    content: t("education[2].content"),
    options: {
      dot: { color: "red" },
    },
  },
]);
</script>

<style lang="scss" scoped></style>
