<template>
  <nc-container :center="true">
    <template #content>
      <div class="title__container">
        <span>{{ $t("home.greetings") }}</span>
        <h1>Nathan Couton</h1>
        <h2>{{ $t("home.position") }}</h2>
        <div
          class="more"
          @click.prevent="$router.push({ name: 'About' })"
        >
          {{ $t("home.button") }}
        </div>
      </div>
    </template>
  </nc-container>
</template>

<script setup></script>

<style lang="scss" scoped>
.more {
  width: 15rem;
  text-align: center;
  padding: 0.5rem 0.5rem;
  border: 1px solid var(--secondary);
  border-radius: 5px;

  transition: all 0.25s ease;

  &:hover {
    color: var(--secondary);
    border: 1px solid var(--surface);
    cursor: pointer;
  }

  &::before {
    content: '@click.prevent="';
    color: var(--primary);
  }
  &::after {
    content: '"';
    color: var(--primary);
  }
}

h1 {
  margin: 0;
}

h2 {
  margin-top: 0;
}
</style>
