<template>
  <nc-container>
    <template #content>
      <div class="skills">
        <nc-skill :data="skills.fontEnd" />
        <nc-skill :data="skills.backEnd" />
        <nc-skill :data="skills.database" />
        <nc-skill :data="skills.tools" />
        <div class="empty" />
        <div class="empty" />
      </div>
    </template>
  </nc-container>
</template>

<script setup>
import { ref } from "vue";
import NcSkill from "@/components/skill/NcSkill.vue";
import "devicon/devicon.min.css";
import _skills from "@/assets/helper/skills.json";

const skills = ref(_skills);
</script>

<style lang="scss" scoped>
.skills {
  display: flex;
  flex-flow: row wrap;
  gap: 10rem;
  align-items: center;
  justify-content: space-around;

  @media #{$not_large_screen} {
    flex-direction: column;
  }
}

.empty {
  width: 20rem;
  height: 0;
}
</style>
