<template>
  <div class="main__container">
    <div :class="[center ? 'container__center' : 'container']">
      <slot name="content" />
    </div>
  </div>
</template>

<script setup>
const props = defineProps({ center: Boolean });
</script>

<style scoped></style>
