<template>
  <div class="presentation">
    <div class="presentation__json">
      <div
        v-for="(root, key) in data"
        :key="key"
        :class="['presentation__json-main', { selected: root.selected }]"
        @click="select(data, root, key)"
      >
        <div class="presentation__json-main-key">
          {{ key }} : <span class="presentation__json-main-open">{</span>
        </div>
        <div
          v-for="(sub, subKey) in root.info"
          :key="subKey"
          class="presentation__json-sub"
        >
          {{ subKey }} : {{ sub }}
        </div>
        <div class="presentation__json-main-close">
          }
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed } from "vue";

const props = defineProps({ data: {} });

async function select(_data, root, key) {
  root.selected = true;
  for (const dataKey in _data) {
    if (key !== dataKey) _data[dataKey].selected = false;
  }
}
</script>

<style lang="scss" scoped>
.presentation {
  display: flex;
  width: 70vw;
  align-items: center;
  justify-content: start;
  gap: 10vw;

  @media #{$not_large_screen} {
    flex-direction: column;
  }

  &__screen {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40vw;
    height: 60vh;
    background-color: var(--editor);
    box-shadow: inset 0px 0px 10px 5px var(--background);
    -webkit-box-shadow: inset 0px 0px 10px 5px var(--background);
  }

  &__json {
    &-main {
      cursor: pointer;
      &-key,
      &-close {
        color: var(--secondary);
      }

      &.selected .presentation__json-sub,
      &.selected &-open,
      &.selected &-close {
        color: var(--primary);
      }

      &:not(:last-of-type) .presentation__json-main-close::after {
        content: ",";
        color: var(--surface);
      }
    }

    &-sub {
      margin-left: 2rem;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
