<template>
  <header>
    <nav-bar
      @resume="downloadResume"
      @toggle="onNavbarToggle"
      @change-locale="selectLanguage"
      @switch-theme="switchDarkMode"
    />
  </header>

  <div class="intro__container">
    <div class="logo__container">
      <p class="logo">
        {{ `<Nathan Couton />` }}
      </p>
    </div>
  </div>

  <div :class="['global__container', { navbar__toggled: isNavbarToggled }]">
    <router-view v-slot="{ Component, route }">
      <transition
        :name="route.meta.transition || 'fade'"
        mode="out-in"
      >
        <component
          :is="Component"
          :key="route.path"
        />
      </transition>
    </router-view>
  </div>
  <ModalsContainer />
  <div
    :class="[
      'loader__container',
      { 'loader__container--backdrop': hasProcessLoading },
    ]"
  >
    <BounceLoader
      class="process__loader"
      :loading="hasProcessLoading"
      color="#42b883"
      size="64px"
    />
  </div>
</template>

<script setup>
import { onMounted, computed, markRaw, ref } from "vue";
import { RouterView } from "vue-router";
import { useAppStore } from "@/stores/app.js";
import { ModalsContainer } from "vue-final-modal";
import { useI18n } from "vue-i18n";

import NavBar from "@/components/nav/NavBar.vue";

import { BounceLoader } from "vue3-spinner";

import resume from "@/assets/cv/CV_Nathan_Couton.pdf";

const { t, locale, availableLocales } = useI18n({
  useScope: "global",
});
const appStore = useAppStore();
const darkMode = computed(() => appStore.darkMode);
const isNavbarToggled = ref(false);

const hasProcessLoading = computed(() => appStore.hasProcessLoading);

onMounted(() => {
  setPreferedLocale();
  onEnterOrUpdateThemeSelection();
});

function onNavbarToggle(value) {
  isNavbarToggled.value = value;
}

function selectLanguage(language) {
  locale.value = language;
  appStore.locale = language;
  localStorage.setItem("locale", language);
}

function switchDarkMode() {
  appStore.darkMode = !appStore.darkMode;
  document.documentElement.className = appStore.darkMode ? "dark" : "light";
}

function setPreferedLocale() {
  const localStorageLocale = localStorage.getItem("locale");
  if (localStorageLocale) {
    appStore.locale = localStorageLocale;
  } else {
    console.log(window.navigator.language);
    appStore.locale = availableLocales.includes(window.navigator.language)
      ? window.navigator.language
      : "fr";
  }
  locale.value = appStore.locale;
  localStorage.setItem("locale", locale.value);
}

function onEnterOrUpdateThemeSelection() {
  if (
    window.matchMedia &&
    window.matchMedia("(prefers-color-scheme: dark)").matches
  ) {
    // dark mode
    document.documentElement.className = "dark";
  } else {
    document.documentElement.className = "light";
  }

  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", (event) => {
      appStore.darkMode = event.matches ? true : false;
      document.documentElement.className = darkMode.value ? "dark" : "light";
    });
}

function downloadResume() {
  window.open(resume, "_blank");
}
</script>

<style lang="scss" scoped>
:root {
  --transition-duration: 0.5s;
}

header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.global__container {
  overflow-x: hidden;

  &.navbar__toggled {
    position: fixed;
    height: 100%;
    overflow: hidden;
  }
}

.dark__mode {
  z-index: 777;
  position: absolute;
  top: 6rem;
  right: 3rem;

  @media #{$not_large_screen} {
    // top: 4rem;
    // right: 2rem;
  }

  cursor: pointer;
}

/* Set up the base styles */
.intro__container {
  z-index: 888;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 100%;
  background: var(--background);
  color: var(--surface);
  font-size: 4rem;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;

  overflow: hidden;
  font-weight: bold;
  font-size: 5rem;

  animation: fadeout ease-out 3s 1, shrink 5s 1;
}

/* Apply the first animation to the "<NC/>" text */
.logo__container {
  display: inline-block;
}

.logo {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  border-right: 5px solid transparent;

  animation: typing 1.75s 0.25s steps(30, end) forwards, blinking 0.65s 4 0.25s;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter-from,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter-from {
  opacity: 0;
  transform: translate(-2em, 0);
}

.loader__container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;

  &--backdrop {
    background: rgba($black, 0.4);
    pointer-events: all;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  0% {
    border-right-color: $white;
  }
  50% {
    border-right-color: transparent;
  }
  100% {
    border-right-color: $white;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  97% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes shrink {
  0% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  95% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  100% {
    top: 0;
    right: 0;
    bottom: 100%;
    left: 100%;
  }
}
</style>
