<template>
  <div
    :class="[
      'navbar',
      { 'is-active': isActive, scrollUp, scrollDown, contact: isRouteContact },
    ]"
  >
    <div class="navbar-brand">
      <span
        class="navbar-burger"
        :class="{ 'is-active': isActive }"
        @click="toggleActive"
      >
        <span />
        <span />
        <span />
      </span>
      <img
        :src="logo"
        alt="Logo"
        class="navbar__logo"
        @click="goHome"
      >
    </div>
    <div
      class="navbar-menu"
      :class="{ 'is-active': isActive }"
    >
      <div class="navbar-start">
        <router-link
          v-for="link in links"
          :key="link.path"
          class="navbar-item"
          active-class="link-active"
          :to="link.path"
          @click.stop="toggleActive"
        >
          {{ $t(`navigation.${link.name.toLowerCase()}`) }}
        </router-link>
        <div
          class="navbar-item navbar-item__resume"
          @click="downloadResume"
        >
          {{ $t("navigation.resume") }}
        </div>

        <div class="navbar__end">
          <nc-theme-switch
            class="theme__switch"
            @switch="emit('switch-theme')"
          />

          <nc-language-select
            class="language__select"
            @select="onSelectLanguage"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { onMounted, ref, computed, reactive } from "vue";
import { RouterLink, useRouter, useRoute } from "vue-router";
import { useAppStore } from "@/stores/app.js";
import { routes } from "@/assets/helper/helper.js";
import nc_logo_dark from "@/assets/nc_logo_dark.png";
import nc_logo_light from "@/assets/nc_logo_light.png";
import NcThemeSwitch from "@/components/switch/NcThemeSwitch.vue";
import NcLanguageSelect from "@/components/select/NcLanguageSelect.vue";

const emit = defineEmits(["resume", "change-locale", "switch-theme", "toggle"]);

const links = routes;

const router = useRouter();
const route = useRoute();
const appStore = useAppStore();

const isActive = ref(false);
const scrollUp = ref(false);
const scrollDown = ref(false);
const scrollTop = ref(0);

const logo = computed(() => (appStore.darkMode ? nc_logo_dark : nc_logo_light));

const isRouteContact = computed(() => {
  return route.name === "Contact";
});

onMounted(() => {
  window.addEventListener("scroll", onScroll);
});

function isSmallDevice() {
  return window.innerWidth < 1096;
}

function onSelectLanguage(language) {
  emit("change-locale", language);
}

function toggleActive() {
  if (isSmallDevice()) {
    isActive.value = !isActive.value;
    emit("toggle", isActive.value);
  }
}

function onScroll() {
  const scrollY = window.top.scrollY;
  if (scrollY === 0) {
    scrollDown.value = false;
    scrollUp.value = false;
  } else if (scrollY - scrollTop.value > 0) {
    scrollDown.value = true;
    scrollUp.value = false;
  } else if (scrollY - scrollTop.value < 0) {
    scrollDown.value = false;
    scrollUp.value = true;
  }
  scrollTop.value = scrollY;
}

function downloadResume() {
  emit("resume");
}

function goHome() {
  router.push({ name: "Home" });
}
</script>

<style lang="scss" scoped>
.navbar {
  background-color: var(--background);
  color: var(--surface);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0.5rem 1rem;
  transition: opacity 150ms ease-in;

  & .theme__switch {
    position: relative !important;
  }

  &.contact {
    background: transparent;
    &.is-active {
      backdrop-filter: blur(4px);
    }
  }

  &.contact &-item:not(.link-active) {
    text-shadow: 1px 1px 2px $black;
  }
}

.scrollUp:not(.is-active) {
  opacity: 0.75;
  backdrop-filter: blur(10px);
}

.scrollDown:not(.is-active) {
  opacity: 0;
}

.navbar-brand {
  display: flex;
  justify-content: space-between;
  width: 100%;

  animation-name: intro_nav;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;

  & img {
    margin-top: 0;

    width: 5rem;
  }
}

.navbar-burger {
  margin-top: 1.5rem;
  margin-left: 1rem;
  display: block;
  cursor: pointer;

  & span {
    display: block;
    width: 1.5rem;
    height: 0.25rem;
    background-color: var(--surface);
    margin-bottom: 0.25rem;
    transition: transform 0.3s ease-in-out;
  }

  &.is-active span:nth-child(2) {
    opacity: 0;
  }
  &.is-active span:first-child {
    transform: rotate(45deg) translate(0.3rem, 0.3rem);
  }
  &.is-active span:last-child {
    transform: rotate(-45deg) translate(0.3rem, -0.3rem);
  }
}

.navbar-menu {
  height: 0;
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 0.5rem;
  transition: height 0.3s ease-in-out;

  animation-name: intro_nav;
  animation-duration: 2s;
  animation-timing-function: ease-out;

  &.is-active {
    height: 100vh;
    padding-bottom: 1rem;
  }

  & .navbar-start {
    display: none;
  }

  &.is-active .navbar-start {
    display: flex;
    flex-direction: column;
    align-items: start;

    padding: 1rem 0;
    border-top: 1px solid var(--surface);
    border-bottom: 1px solid var(--surface);
  }

  &.is-active .navbar-start > * {
    margin: 0.5rem 0;
  }
}

.navbar__end {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;

  @media screen and #{$large_screen} {
    gap: 2rem;
  }
}

.navbar-item {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none;
  color: var(--surface);
  font-weight: bold;

  &:hover {
    background-color: var(--primary);
  }

  &.navbar-item__resume {
    cursor: pointer;
    color: var(--secondary);
    border: 1px solid var(--surface);

    &:hover {
      background-color: var(--secondary);
      color: var(--surface);
      border: 1px solid var(--secondary);
    }
  }

  &.link-active {
    color: var(--primary);
  }

  &.link-active:hover {
    color: var(--surface);
  }
}

@media screen and #{$large_screen} {
  .navbar {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0.5rem 1rem;

    & h1 {
      display: inline;
      white-space: nowrap;
      margin-top: 1rem;
      margin-right: 1.5rem;
    }

    &.contact {
      background: transparent;
      backdrop-filter: blur(4px);
    }

    &.contact &-item:not(.link-active) {
      text-shadow: 1px 1px 2px $black;
    }
  }

  .navbar-brand {
    width: auto;
    cursor: pointer;

    & img {
      width: 6rem;
      margin-right: 1rem;
    }
  }

  .navbar-burger {
    display: none;
  }

  .navbar-menu,
  .navbar-menu.is-active {
    display: flex;
    height: auto;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 0;
    padding-bottom: 0;
  }

  .navbar-menu.is-active .navbar-start,
  .navbar-menu .navbar-start {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    width: 100%;

    padding: 1rem 0;
    border-top: 1px solid var(--surface);
    border-bottom: 1px solid var(--surface);
  }

  .navbar-menu.is-active .navbar-start > *,
  .navbar-menu .navbar-start > * {
    margin: 0;
  }
}

@keyframes intro_nav {
  0% {
    transform: translateY(-120%);
  }
  90% {
    transform: translateY(-120%);
  }
  100% {
    transform: translateY(0%);
  }
}
</style>
